<div class="modal fade bs-modal-lg" id="modalConfirmaTarefaLigacaoImobiliaria" tabindex="-1" role="modalConfirmaTarefaLigacaoImobiliaria" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">Inclusão de Ligação na Administração da Imobiliária</h4>
            </div>
            <form name="confirmaTarefaLigacaoImobiliariaForm"
                  role="form"
                  novalidate>
                <div class="modal-body form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Código: </label>
                            <input class="form-control" ng-model="dadosIncluirLigacaoImobiliaria.imobiliariaId" disabled />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Descrição: </label>
                            <input class="form-control" ng-model="dadosIncluirLigacaoImobiliaria.descricao" disabled />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">CDC: </label>
                            <input class="form-control" ng-model="dadosIncluirLigacaoImobiliaria.ligacaoId" disabled />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button ng-disabled="confirmaTarefaLigacaoImobiliariaForm.$invalid" class="btn blue" data-dismiss="modal" ng-click="incluirLigacaoImobiliaria(dadosIncluirLigacaoImobiliaria)">
                        OK
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>