<!--MODAL CONFIRMACAO TAREFA CORTE-->
<div class="modal fade" id="modalConfirmaTarefaCorte" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{dados.descricaoTarefa}}</h4>
            </div>
            <div class="row" ng-show="dadosCorte.avisoCorte">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <span>{{dadosCorte.avisoCorte}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label labelInfo">CDC:</label>
                        <input type="text" class="form-control" ng-model="dadosCorte.cdc" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label labelInfo">Identificação:</label>
                        <input type="text" class="form-control" ng-model="dadosCorte.identificacao" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label labelInfo">Hidrômetro:</label>
                        <input type="text" class="form-control" ng-model="dadosCorte.hidrometro" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Nome Solicitante: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.nomeSolicitante" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label class="control-label labelInfo">Endereço:</label>
                        <input type="text" class="form-control" ng-model="dadosCorte.endereco" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label labelInfo">&nbsp;</label>
                        <input type="text" class="form-control" ng-model="dadosCorte.numeroEndereco" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Bairro: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.bairro" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label labelInfo">CEP: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.cep" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Complemento: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.complemento" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Tipo Corte: <span class="required">*</span></label>
                        <input type="hidden"
                               cb-select2=""
                               data-field-id="tipoCorteId"
                               data-field-text="descricao"
                               data-api-url="Api/tiposcorte"
                               placeholder="Tipo Corte"
                               class="form-control"
                               name="tipoCorteId"
                               ng-model="dadosCorte.tipoCorteId"
                               required>
                        <p ng-show="editarForm.tipoCorteId.$error.required && !editarForm.tipoCorteId.$pristine"
                           class="help-block">
                            O campo "Tipo Corte" é obrigatório
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Data Corte: <span class="required">*</span></label>
                        <input type="text" class="form-control" ng-model="dataCorte" />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Leitura Corte: <span class="required">*</span></label>
                        <input type="text" class="form-control" ng-model="dadosCorte.leituraCorte" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Responsável Corte: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.responsavelCorte" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" cb-form-validation="editarForm.situacaoAguaId" validators="{required: true}">
                            <label class="control-label labelInfo">
                                Situação Água
                                <span class="required">*</span>
                            </label>
                            <input type="hidden"
                                   cb-select2=""
                                   data-field-id="situacaoAguaId"
                                   data-field-text="descricao"
                                   data-api-url="Api/SituacaoAguas/ComboCorteLigacao"
                                   placeholder="Situação Água"
                                   class="form-control"
                                   name="situacaoAguaId"
                                   ng-model="dadosCorte.situacaoAguaId"
                                   required>
                            <p ng-show="editarForm.situacaoAguaId.$error.required && !editarForm.situacaoAguaId.$pristine"
                               class="help-block">
                                O campo "Situação Água" é obrigatório
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Data Lacre: </label>
                        <input type="text"
                               cb-datetime-picker
                               date-format="dd/mm/yyyy"
                               class="form-control"
                               name="dataLacre"
                               required
                               ng-model="dadosCorte.dataLacre1">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Número Lacre: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.numeroLacre1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Data Lacre: </label>
                        <input type="text"
                               cb-datetime-picker
                               date-format="dd/mm/yyyy"
                               class="form-control"
                               name="dataLacre"
                               required
                               ng-model="dadosCorte.dataLacre2">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Número Lacre: </label>
                        <input type="text" class="form-control" ng-model="dadosCorte.numeroLacre2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Tipo Lacre:</label>
                        <input type="hidden"
                               cb-select2=""
                               data-field-id="tipoLacreId"
                               data-field-text="descricao"
                               data-api-url="Api/tiposlacres"
                               placeholder="Tipo Lacre"
                               class="form-control"
                               name="tipoLacreId"
                               ng-model="dadosCorte.tipoLacreId"
                               required>
                        <p ng-show="editarForm.tipoLacreId.$error.required && !editarForm.tipoLacreId.$pristine"
                           class="help-block">
                            O campo "Tipo Lacre" é obrigatório
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Cor Lacre:</label>
                        <input type="hidden"
                               cb-select2=""
                               data-field-id="id"
                               data-field-text="descricao"
                               data-api-url="Api/tiposservicoscomplementos/46/buscalistaopcoes"
                               placeholder="Cor Lacre"
                               class="form-control"
                               name="id"
                               ng-model="dadosCorte.corLacre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Observações:</label>
                        <textarea type="text" class="form-control" ng-model="dadosCorte.observacao" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn blue" ng-click="cortarLigacao(dadosCorte)"
                        ng-disabled="(!dadosCorte.leituraCorte && dadosCorte.leituraCorte.length == 0)
                        || !dadosCorte.situacaoAguaId
                        || !dadosCorte.tipoCorteId">
                    Cortar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>