<!--MODAL CONFIRMACAO TAREFA CORTE-->
<div class="modal fade" id="modalBloqueiaServicosLancados" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{dados.descricaoTarefa}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label labelInfo">CDC:</label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.cdc" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label labelInfo">Identificação:</label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.identificacao" disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label labelInfo">Hidrômetro:</label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.hidrometro" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Nome Solicitante: </label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.nomeSolicitante" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label class="control-label labelInfo">Endereço:</label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.endereco" disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label labelInfo">&nbsp;</label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.numero" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label labelInfo">Bairro: </label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.bairro" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label labelInfo">CEP: </label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.cep" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="control-label labelInfo">Complemento: </label>
                        <input type="text" class="form-control" ng-model="dadosServicosLancados.complemento" disabled />
                    </div>
                </div>
                <br />
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover table-condensed table-clickable">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Lançamento</th>
                            <th>Parcelas</th>
                            <th>Saldo</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in dadosServicosLancados.servicos"
                            ng-click="selecionarServico(item)"
                            ng-class="{'active': verificarServicoSelecionado(item)}">
                            <td>{{item.tipoServicoId}} - {{item.descricao}}</td>
                            <td>{{item.dataServico | date:'shortDate'}}</td>
                            <td>{{item.qtdParcelas}}</td>
                            <td>{{item.qtdSaldo}}</td>
                            <td>{{item.valorServico | number:verificarTipoMoeda(item)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal"> Cancelar </button>
                    <button class="btn blue"
                            data-dismiss="modal"
                            ng-click="bloquearServicosLancados(item)"
                            ng-disabled="servicosSelecionados.length == '0'">
                        Bloquear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>