 <!--Aba Tarefas-->
<div class="tab-pane" ng-class="{'active': passoAtivoAbasFixas == 8}" ng-show="passoAtivoAbasFixas == 8">
    <table datatable="ng" dt-options="dtOptions" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Executou</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="tarefa in dadosAbasComplementaresEvento.tarefas">
                <td>{{tarefa.descricaoTarefa}}</td>
                <td>{{tarefa.executou == true ? "Sim" : "Não"}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn green" ng-click="modalConfirmacao(tarefa)" ng-disabled="tarefa.executou">
                        <span class="glyphicon glyphicon-check">&nbsp;Executar</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaCorte.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaReligacao.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaDocumento.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaEndereco.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaLacre.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaInstalacao.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaExclusaoLigacao.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaInstalacaoEsgoto.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaAlteracaoSituacaoHidrometro.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaRetirarRetencaoContas.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalHistoricoEncerramento.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalHistoricoVistoria.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTarefaAtualizaDadosLacre.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalConfirmaTrocaHidrometro.html'"></div>