<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mapa</h3>
            </div>
            <form class="horizontal-form form-condensed">
                <div class="form-body">
                    <iframe ng-src="{{ urlMapa }}" frameborder="0" allowfullscreen style="width: 100%; height: 400px"></iframe>
                </div>
            </form>
        </div>
    </div>
</div>
