<h3 class="page-title">
    Chamados <small>Pesquisar Ordens de Servico Para Programação</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="painel.geral">Início</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Ordens de Serviço
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Programação
        </li>
    </ul>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Consulta de Ordens de Serviço Para Programação</span>
        </div>
    </div>
    <div class="portlet-body form">
        <ng-form class="horizontal-form form-condensed" id="edicaoDocumentoForm" name="edicaoDocumentoForm" novalidate>
            <div class="form-body">
                <div class="note note-danger" ng-if="errosFormularioEdicaoDocumento && errosFormularioEdicaoDocumento.length > 0">
                    <p>Os seguintes erros foram encontrados:</p>
                    <ul>
                        <li ng-repeat="error in errosFormularioEdicaoDocumento">{{ error }}</li>
                    </ul>
                </div>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="passo in modelPassosCamposGeracao" ng-class="{'active' : passoAtivo == passo.passoId}">
                            <a ng-click="ativarAba(passo)"> {{passo.descricao}} </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <cb-geracao-campos-directive model-passos-campos-geracao="modelPassosCamposGeracao"
                                                     controle-aba-ativa="passoAtivo"
                                                     name-form="edicaoDocumentoForm"></cb-geracao-campos-directive>
                        <div ng-show="modelPassosCamposGeracao">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button class="btn blue" ng-disabled="edicaoDocumentoForm.$invalid || !modelPassosCamposGeracao.length" ng-click="pesquisarOrdemServico()">
                    Pesquisar
                </button>
            </div>
        </ng-form>
    </div>
</div>
<div class="portlet box grey-cascade" ng-show="ordensServico.length > '0'">
    <div class="portlet-title">
        <div class="caption">Ordens de Serviço Para Execução</div>
    </div>
    <div class="portlet-body" id="tabelaProgramacao">
        <div class="form">
            <h4 class="caption">Legenda: </h4>
            <table border="0" class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <td bgcolor="#EBCCCC">&nbsp;</td>
                    <td>{{descricaoLegendaVermelha}}</td>
                    <td bgcolor="#FAF2CC">&nbsp;</td>
                    <td>{{descricaoLegendaAmarela}}</td>
                    <td bgcolor="#D0E9C6">&nbsp;</td>
                    <td>{{descricaoLegendaVerde}}</td>
                    <td bgcolor="#FFFFFF">&nbsp;</td>
                    <td>{{descricaoLegendaBranca}}</td>
                </tr>
            </table>
            <table border="0" class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <td bgcolor="#FFFFFF">GP</td>
                    <td>Guia Paga</td>
                    <td bgcolor="#FFFFFF">GC</td>
                    <td>Guia Cancelada</td>
                    <td bgcolor="#FFFFFF">GA</td>
                    <td>Guia Aberta</td>
                    <td bgcolor="#FFFFFF">QC</td>
                    <td>Quantidade de Chamados</td>
                </tr>
            </table>
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstance"
                   class="table table-striped table-bordered table-hover table-condensed table-clickable"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th class="text-center">O.S.</th>
                        <th>Prioridade</th>
                        <th>Evento</th>
                        <th>Data Evento</th>
                        <th>Data Ativação</th>
                        <th ng-show="tipoIntegracaoSistema == 1" title="Carga Horária">C.H.</th>
                        <th ng-show="tipoIntegracaoSistema == 1" title="Tempo Decorrido">Tempo (Horas)</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Agendamento</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Período</th>
                        <th>Equipe</th>
                        <th>Tipo Chamado</th>
                        <th>Serviço</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Cdc</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Setor</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Quadra</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Hidrômetro</th>
                        <th>Solicitante</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Loteamento(Vila)</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Cep</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="selecionarOrdemServico(item)"
                        ng-repeat="item in ordensServico"
                        ng-class="{'active': verificarOrdemServicoSelecionada(item),
                        'success': item.statusProgramacaoEvento == 2 && !verificarOrdemServicoSelecionada(item),
                        'warning': item.statusProgramacaoEvento == 3 && !verificarOrdemServicoSelecionada(item),
                        'danger': item.statusProgramacaoEvento == 4 && !verificarOrdemServicoSelecionada(item)}">
                        <td class="text-center">
                            <a class="textDecorN" data-toggle="modal" ui-sref="ordensServico.editar.geral.chamados({ordemServicoId: item.ordemServicoId})">{{item.ordemServicoId}}</a>
                            <span ng-show="item.statusPagamentoOs != null" ng-class="{'programacaoOsDestaque': verificaStatusPagamentoOs(item.statusPagamentoOs) != ''}">{{verificaStatusPagamentoOs(item.statusPagamentoOs)}}</span><br />
                            <span ng-show="item.qtdChamados > 1" ng-class="{'programacaoOsDestaque': verificaStatusPagamentoOs(item.statusPagamentoOs) != ''}"><a ng-click="consultarChamados(item)">QC: {{item.qtdChamados}}</a></span>
                        </td>
                        <td>{{item.descricaoPrioridade}}</td>
                        <td class="text-center">
                            {{item.eventoid}}
                            <span ng-class="{'bold': item.eventoOcorrenciaId != null}" ng-show="item.eventoOcorrenciaId != null" class="programacaoOsDestaque">Ocorrência</span>
                        </td>
                        <td>{{item.dataAberturaEvento | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>{{item.dataAtivacaoEvento | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.cargaHoraria}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.tempoDecorrido}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.dataAgendamento | date:'shortDate'}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.descricaoPeriodo}}</td>
                        <td>{{item.descricaoEquipe}}</td>
                        <td>{{item.tipoChamadoSsbId}} - {{item.descricaoTipoChamado}}</td>
                        <td>{{item.tipoServicoId}} - {{item.descricaoServico}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.cdc}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.setor}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.quadra}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.hidrometro}}</td>
                        <td>{{item.nomeSolicitante}}</td>
                        <td>{{item.endereco}}</td>
                        <td>{{item.bairro}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.loteamento}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.cep}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.telefone}}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="ordensServicoSelecionadas.length == 0">
                <h4 class="caption">Foram selecionadas {{ordensServicoSelecionadas.length}} de {{ordensServico.length}} Ordens de Serviço.</h4>
            </div>
            <div ng-hide="ordensServicoSelecionadas.length == 0">
                <h4 class="caption">Carga horária: {{calculaCargaHoraria()}} horas.</h4>
            </div>

            <div class="form-actions right" ng-show="ordensServico.length > '0'">
                <div class="form-actions right" ng-show="ordensServico.length > '0'">
                    <button class="button btn blue-dark left"
                            ng-click="imprimirGrid()">
                        Imprimir Pesquisa
                    </button>
                    <button class="button btn blue-dark"
                            ng-click="modalProgramar(ordensServicoSelecionadas)"
                            ng-disabled="ordensServicoSelecionadas.length == '0'">
                        Programar
                    </button>
                    <button class="button btn purple"
                            ng-show="utilizaImpressaoOsLista"
                            ng-click="imprimirListaDocumentos()"
                            ng-disabled="ordensServicoSelecionadas.length == '0'">
                        Imprimir Lista
                    </button>
                    <button class="button btn red"
                            ng-click="chamarModalImpressao()"
                            ng-disabled="ordensServicoSelecionadas.length == '0'">
                        Imprimir
                    </button>
                    <button class="button btn green"
                            ng-show="utilizaColetor"
                            ng-click="modalProgramarColetor(ordensServicoSelecionadas)"
                            ng-disabled="ordensServicoSelecionadas.length == '0'">
                        Programar Coletor
                    </button>
                    <button class="button btn blue"
                            ng-click="selecionarTodasOrdensServico(ordensServico)"
                            ng-disabled="ordensServicoSelecionadas.length == ordensServico.length">
                        Selecionar Todas
                    </button>
                    <button class="button btn yellow"
                            ng-click="limparTodasOrdensServico(ordensServico)"
                            ng-disabled="ordensServicoSelecionadas.length == '0'">
                        Limpar Seleção
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet box grey-cascade" ng-show="ordensServicoEmExecucao.length > '0'">
    <div class="portlet-title">
        <div class="caption">Ordens de Serviço Em Execução</div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <h4 class="caption">Legenda: </h4>
            <table border="0" class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <td bgcolor="#EBCCCC">&nbsp;</td>
                    <td>Em Atraso</td>
                    <td bgcolor="#FAF2CC">&nbsp;</td>
                    <td>A Vencer</td>
                    <td bgcolor="#D0E9C6">&nbsp;</td>
                    <td>No Prazo</td>
                </tr>
            </table>
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstanceEmExecucao"
                   class="table table-striped table-bordered table-hover table-condensed"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th>Data Envio</th>
                        <th>O.S.</th>
                        <th>Chamado</th>
                        <th>Evento</th>
                        <th>Data Evento</th>
                        <th ng-show="tipoIntegracaoSistema == 1" title="Carga Horária">C.H.</th>
                        <th ng-show="tipoIntegracaoSistema == 1" title="Tempo Decorrido">Tempo (Horas)</th>
                        <th>Tipo Chamado</th>
                        <th>Serviço</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Cdc</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Setor</th>
                        <th ng-show="tipoIntegracaoSistema == 1">Quadra</th>
                        <th>Solicitante</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Loteamento(Vila)</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Cep</th>
                        <th ng-show="tipoIntegracaoSistema == 2">Telefone</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ordensServicoEmExecucao"
                        ng-class="{'success': item.statusProgramacaoEvento == 2 ,
                        'warning': item.statusProgramacaoEvento == 3 ,
                        'danger': item.statusProgramacaoEvento == 4 }">

                        <td>{{item.dataProgramacao | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <a class="textDecorN" data-toggle="modal" ui-sref="ordensServico.editar.geral.chamados({ordemServicoId: item.ordemServicoId})">{{item.ordemServicoId}}</a>
                        </td>
                        <td>{{item.chamadoId}}</td>
                        <td>{{item.eventoid}}</td>
                        <td>{{item.dataAberturaEvento | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.cargaHoraria}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.tempoDecorrido}}</td>
                        <td>{{item.tipoChamadoSsbId}} - {{item.descricaoTipoChamado}}</td>
                        <td>{{item.tipoServicoId}} - {{item.descricaoServico}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.cdc}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.setor}}</td>
                        <td ng-show="tipoIntegracaoSistema == 1">{{item.quadra}}</td>
                        <td>{{item.nomeSolicitante}}</td>
                        <td>{{item.endereco}}</td>
                        <td>{{item.bairro}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.loteamento}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.cep}}</td>
                        <td ng-show="tipoIntegracaoSistema == 2">{{item.telefone}}</td>
                        <td>{{item.equipe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-include="'app/modules/ordensServico/views/modalProgramarOrdemServico.html'"></div>
<div ng-include="'app/modules/ordensServico/views/modalProgramarColetorOrdemServico.html'"></div>

<div class="modal fade bs-modal-lg" id="modalConfirmaImpressao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">Confirma impressão de ordens de serviço para programação?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn blue" data-dismiss="modal" ng-click="confirmarImpressaoProgramacaoOs()">
                    Sim
                </button>
                <button type="button" class="btn default" data-dismiss="modal">
                    Não
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="modalConfirmaGeo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">Deseja imprimir quadra Ligação?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn blue" data-dismiss="modal" ng-click="verificaMapa(1)">
                    Sim
                </button>
                <button class="btn default" data-dismiss="modal" ng-click="verificaMapa(0)">
                    Não
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="modalConsultaChamados" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title">Consulta chamados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Chamados</h3>
                            </div>
                            <div class="panel-body form">
                                <div class="form-body">
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover table-condensed table-clickable">
                                        <thead>
                                            <tr>
                                                <th>Chamado</th>
                                                <th ng-show="!ordemServicoDetalhes.chamados[0].centroCustoId && tipoIntegracaoSistema == 1">Cdc</th>
                                                <th>Data de Abertura</th>
                                                <th>Atendimento</th>
                                                <th>Solicitante</th>
                                                <th ng-show="!ordemServicoDetalhes.chamados[0].centroCustoId">Endereço</th>
                                                <th ng-show="!ordemServicoDetalhes.chamados[0].centroCustoId">Bairro</th>
                                                <th>Loteamento(Vila)</th>
                                                <th ng-show="ordemServicoDetalhes.chamados[0].centroCustoId">Área Manutenção</th>
                                                <th ng-show="ordemServicoDetalhes.chamados[0].centroCustoId">Equipamento</th>
                                                <th>Observação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ordemServicoDetalhes.chamados">
                                                <td>{{item.chamadoId}}</td>
                                                <td ng-show="!item.centroCustoId && tipoIntegracaoSistema == 1">{{item.cdc}}</td>
                                                <td>{{item.dataAbertura | date:'short'}}</td>
                                                <td>{{item.descricaoAtendimento}}</td>
                                                <td>{{item.nomeSolicitante}}</td>
                                                <td ng-show="!item.centroCustoId">{{item.titulo}}{{item.endereco}}<span ng-show="item.numeroEndereco">, {{item.numeroEndereco}}</span></td>
                                                <td ng-show="!item.centroCustoId">{{item.bairro}}</td>
                                                <td>{{item.loteamento}}</td>
                                                <td ng-show="item.centroCustoId">{{item.descricaoAreaManutencao}}</td>
                                                <td ng-show="item.centroCustoId">{{item.descricaoEquipamento}}</td>
                                                <td>{{item.observacao}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>