<h3 class="page-title">
    Telemetria <small>Lista</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="painel.geral">Início</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Lista
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Telemetria
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Ações <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ui-sref="telemetria.incluir">Nova Ocorrência</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Telemetria</span>
        </div>
    </div>
    <div class="portlet-body form">
        <ng-form class="horizontal-form form-condensed" id="edicaoDocumentoForm" name="edicaoDocumentoForm" novalidate>
            <div class="form-body">
                <div class="note note-danger" ng-if="errosFormularioEdicaoDocumento && errosFormularioEdicaoDocumento.length > 0">
                    <p>Os seguintes erros foram encontrados:</p>
                    <ul>
                        <li ng-repeat="error in errosFormularioEdicaoDocumento">{{ error }}</li>
                    </ul>
                </div>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="passo in modelPassosCamposGeracao" ng-class="{'active' : passoAtivo == passo.passoId}">
                            <a ng-click="ativarAba(passo)"> {{passo.descricao}} </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <cb-geracao-campos-directive model-passos-campos-geracao="modelPassosCamposGeracao"
                                                     controle-aba-ativa="passoAtivo"
                                                     name-form="edicaoDocumentoForm"></cb-geracao-campos-directive>
                        <div ng-show="modelPassosCamposGeracao">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button class="btn blue" ng-disabled="edicaoDocumentoForm.$invalid || !modelPassosCamposGeracao.length" ng-click="pesquisarOcorrencias()">
                    Pesquisar
                </button>
            </div>
        </ng-form>
    </div>
</div>
<div class="portlet box grey-cascade" ng-show="ocorrencias.length > '0'">
    <div class="portlet-title">
        <div class="caption">Ocorrências</div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstance"
                   class="table table-striped table-bordered table-hover table-condensed table-clickable"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th>Telemetria</>
                        <th>Data Ocorrência</th>
                        <th>Funcionário</th>
                        <th>Descrição</th>
                        <th>Data Inicio Ocorrência</th>
                        <th>Data Termino Ocorrência</th>
                        <th>Observação</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Centro Reservação</th>
                        <th>Zona Abastecimento</th>
                        <th>Maior 6 horas</th>
                        <th>Inutilizado</th>
                        <th>Data Inutilização</th>
                        <th>Funcionario Inutilização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ocorrencias">
                        <td>
                            <a class="textDecorN" data-toggle="modal" ui-sref="telemetria.detalhes({ocorrenciaTelemetriaId: item.ocorrenciaTelemetriaId})">{{item.ocorrenciaTelemetriaId}}</a>
                        </td>
                        <td>{{item.dataOcorrencia | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.funcionario}}</td>
                        <td>{{item.descricaoOcorrencia}}</td>
                        <td>{{item.dataHoraIncioOco | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{item.dataHoraTerminoOco | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{item.observacao}}</td>
                        <td>{{item.rua}}</td>
                        <td>{{item.bairro}}</td>
                        <td>{{item.centroReservacao}}</td>
                        <td>{{item.zonaAbastecimento}}</td>
                        <td>{{item.maior6Horas == true ? 'Sim' : 'Não'}}</td>
                        <td>{{item.inutilizado == true ? 'Sim' : 'Não'}}</td>
                        <td>{{item.dataInutilizacao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.funcionarioInutilizacao}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>