<h3 class="page-title">
    Chamados <small>Pesquisar Programações dos Coletores</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="painel.geral">Início</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Programações
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Coletor
        </li>
    </ul>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Consulta de Programações dos Coletores</span>
        </div>
    </div>
    <div class="portlet-body form">
        <ng-form class="horizontal-form form-condensed" id="edicaoDocumentoForm" name="edicaoDocumentoForm" novalidate>
            <div class="form-body">
                <div class="note note-danger" ng-if="errosFormularioEdicaoDocumento && errosFormularioEdicaoDocumento.length > 0">
                    <p>Os seguintes erros foram encontrados:</p>
                    <ul>
                        <li ng-repeat="error in errosFormularioEdicaoDocumento">{{ error }}</li>
                    </ul>
                </div>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="passo in modelPassosCamposGeracao" ng-class="{'active' : passoAtivo == passo.passoId}">
                            <a ng-click="ativarAba(passo)"> {{passo.descricao}} </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <cb-geracao-campos-directive model-passos-campos-geracao="modelPassosCamposGeracao"
                                                     controle-aba-ativa="passoAtivo"
                                                     name-form="edicaoDocumentoForm"></cb-geracao-campos-directive>
                        <div ng-show="modelPassosCamposGeracao">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button class="btn blue" ng-disabled="edicaoDocumentoForm.$invalid || !modelPassosCamposGeracao.length" ng-click="pesquisarProgramacoes()">
                    Pesquisar
                </button>
            </div>
        </ng-form>
    </div>
</div>
<div class="portlet box grey-cascade" ng-show="programacoes.length > '0'">
    <div class="portlet-title">
        <div class="caption">Programações</div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstance"
                   class="table table-striped table-bordered table-hover table-condensed table-clickable"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th>Programação</th>
                        <th>Data Geração</th>
                        <th>O.S.(s)</th>
                        <th>O.S. Encerrada(s)</th>
                        <th>O.S. Aberta(s)</th>
                        <th>Evento(s) Encerrado(s)</th>
                        <th>Evento(s) Aberto(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="selecionarProgramacao(item)"
                        ng-repeat="item in programacoes"
                        ng-class="{'active': verificarProgramacaoSelecionada(item)}">
                        <td>{{item.arquivo}}</td>
                        <td>{{item.dataProcessamento | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>{{item.qtdOrdensServico}}</td>
                        <td>{{item.qtdOrdensServicoEncerradas}}</td>
                        <td>{{item.qtdOrdensServicoAbertas}}</td>
                        <td>{{item.qtdEventosEncerrados}}</td>
                        <td>{{item.qtdEventosAbertos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="portlet box red" ng-show="ordensServicoRejeitadas.length > '0'">
    <div class="portlet-title">
        <div class="caption">Ordens de Serviço Rejeitadas</div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstance"
                   class="table table-striped table-bordered table-hover table-condensed"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th>Ordem Serviço</th>
                        <th>Evento</th>
                        <th>Data Envio</th>
                        <th>Data Retorno</th>
                        <th>Status</th>
                        <th>Data Abertura</th>
                        <th>Situação O.S.</th>
                        <th>Tipo Chamado</th>
                        <th>Serviço</th>
                        <th>Endereço / Área Manutenção</th>
                        <th>Situação Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ordensServicoRejeitadas">
                        <td>
                            <a class="textDecorN" data-toggle="modal" ui-sref="ordensServico.editar.geral.chamados({ordemServicoId: item.ordemServicoId})">{{item.ordemServicoId}}</a>
                        </td>
                        <td>{{item.eventoId}}</td>
                        <td>{{item.dataEnvio | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.dataRetorno | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.descricaoStatus}}</td>
                        <td>{{item.dataAbertura | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.situacaoOs}}</td>
                        <td>{{item.tipoChamadoId}} - {{item.descricaoTipoChamado}}</td>
                        <td>{{item.tipoServicoId}} - {{item.descricaoServico}}</td>
                        <td>{{item.endereco}}</td>
                        <td>{{item.situacaoEvento}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-actions right">
                <button class="button btn red"
                        ng-click="reenviarOrdensServico(ordensServicoRejeitadas)"
                        ng-disabled="ordensServicoRejeitadas.length == '0'">
                    Reenviar O.S.(s)
                </button>
            </div>
        </div>
    </div>
</div>

<div class="portlet box grey-cascade" ng-show="ordensServico.length > '0'">
    <div class="portlet-title">
        <div class="caption">Ordens de Serviço</div>
    </div>
    <div class="portlet-body">
        <div class="form">
            <h4 class="caption">Legenda: </h4>
            <table border="0" class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <td bgcolor="#EBCCCC">&nbsp;</td>
                    <td>Evento Rejeitado</td>
                    <td bgcolor="#FAF2CC">&nbsp;</td>
                    <td>Com Evento em Aberto</td>
                    <td bgcolor="#D0E9C6">&nbsp;</td>
                    <td>Evento Encerrado/O.S. Aberta/Outros Eventos Pendentes</td>
                    <td bgcolor="#A6C8E6">&nbsp;</td>
                    <td>Evento Encerrado/O.S. Aberta</td>
                </tr>
            </table>
            <table datatable="ng"
                   dt-options="dtOptions"
                   dt-instance="dtInstance"
                   class="table table-striped table-bordered table-hover table-condensed"
                   id="tabelaOs">
                <thead>
                    <tr>
                        <th>Ordem Serviço</th>
                        <th>Evento</th>
                        <th>Data Envio</th>
                        <th>Data Retorno</th>
                        <th>Status</th>
                        <th>Data Abertura</th>
                        <th>Situação O.S.</th>
                        <th>Tipo Chamado</th>
                        <th>Serviço</th>
                        <th>Endereço / Área Manutenção</th>
                        <th>Situação Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ordensServico"
                        ng-class="{'success': item.corLinha == 2,
                        'warning': item.corLinha == 1,
                        'danger': item.corLinha == 4,
                        'colorBlueTable': item.corLinha == 3}">
                        <td>
                            <a class="textDecorN" data-toggle="modal" ui-sref="ordensServico.editar.geral.chamados({ordemServicoId: item.ordemServicoId})">{{item.ordemServicoId}}</a>
                        </td>
                        <td>{{item.eventoId}}</td>
                        <td>{{item.dataEnvio | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.dataRetorno | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.descricaoStatus}}</td>
                        <td>{{item.dataAbertura | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.situacaoOs}}</td>
                        <td>{{item.tipoChamadoId}} - {{item.descricaoTipoChamado}}</td>
                        <td>{{item.tipoServicoId}} - {{item.descricaoServico}}</td>
                        <td>{{item.endereco}}</td>
                        <td>{{item.situacaoEvento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
